h2 {
    font-family: "Mountains of Christmas";
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 span {
    color: #FFD258;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
}

p {
    font-weight: 500;
    font-size: 24px;
    list-style: 32px;
    line-height: 1.5;
}