/* #about {
    
} */

.about-inner {
    padding: 150px 150px 160px 150px;
    margin-bottom: 40px;
    position: relative;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 56%;
    gap: 50px;
}



.about-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 32px;
}

.about-buttons {
    display: flex;
    gap: 16px;
}

.btn-buy-poope {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD258;
    gap: 16px;
    color: black;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px 25px;
    padding-left: 40px;
    padding-right: 16px;
    white-space: nowrap;

    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase; 
}

.btn-read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid white;
    gap: 16px;
    color: black;
    height: 50px;
    border-radius: 25px 25px;
    padding-left: 40px;
    padding-right: 16px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.about-logo {
    position: absolute;
    top: 70px;
    right: 0px;
}

.about-logo img {
    width: 750px;
    height: 750px;
}

@media (max-width: 1024px) {
    .about-inner {
        padding: 50px 20px 50px 20px;
        margin-bottom: 40px;
        position: relative;
        height: 1000px;
    }

    .about-content {
        width: 100%;
        gap: 24px
    }

    .about-text p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .about-inner h2 {
        font-size: 40px;
    }


    .about-logo {
        position: absolute;
        top: 550px;
        left: 5%;
    }

    .about-logo img {
        width: 350px;
        height: 350px;
    }

    .about-buttons {
        flex-direction: column;
        gap: 16px;
    }
}


@media (max-width: 375px) {
    .about-inner {
        padding: 50px 20px 50px 20px;
        margin-bottom: 40px;
        position: relative;
        height: 1000px;
    }

    .about-content {
        width: 100%;
        gap: 24px
    }

    .about-text p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .about-inner h2 {
        font-size: 40px;
    }


    .about-logo {
        position: absolute;
        top: 600px;
        left: 0px;
    }

    .about-logo img {
        width: 90%;
        height: 100%;
    }

    .about-buttons {
        flex-direction: column;
        gap: 16px;
    }
}