.contact-inner {
    background-color: #F1CF58;
    border-radius: 50px;
    padding: 150px 150px 78px 150px;
    position: relative;
    overflow-x: hidden;
}

.contact-inner .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;

    z-index: 10;
}


.contact-content .contact-title {
    font-family: "Mountains of Christmas";
    color: #141414;
    font-weight: 400;
    font-size: 110px;
    line-height: 120px;
    padding: 0px 25px;

    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 10;
}

.contact-content .contact-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: black;
    z-index: 10;
}

.contact-content .contact-btn-group {
    display: flex;
    justify-content: center;
    gap: 24px
}

.contact-btn-group .contact-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.contact-btn {
    border: 1px solid black;
    border-radius: 28px;
    height: 56px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-transform: uppercase;
    z-index: 10;
}


.contact-btn img {
    width: 24px;
    height: 24px;
}

.contact-poope-logo {
    position: absolute;
    top: 30px;
    left: 461px;
    z-index: 1;
}


.contact-poope-logo img {
    width: 150px;
    height: 150px;
}

.contact-star1 {
    position: absolute;
    top: 394px;
    left: 141px;
    z-index: 1;
}

.contact-star1 img {
    width: 41px;
    height: 41px;
}

.contact-star2 {
    position: absolute;
    top: 387px;
    left: 98px;
    z-index: 1;
}

.contact-star2 img {
    width: 20px;
    height: 20px;
}

.contact-cloud {
    position: absolute;
    top: 450px;
    left: 118px;
    z-index: 1;
}

.contact-cloud img {
    width: 158px;
    height: 112px;
}

.contact-elegant {
    position: absolute;
    top: 483px;
    right: 285px;
    z-index: 1;
}

.contact-elegant img {
    width: 141px;
    height: 171px;
}

.contact-man {
    position: absolute;
    bottom: 0px;
    right: 29px;
    z-index: 1;
}

.conact-man img {
    width: 165px;
    height: 534px;
}

@media (max-width: 1000px) {
    .contact-inner {
        background-color: #F1CF58;
        border-radius: 24px;
        padding: 50px 20px 100px 20px;
        position: relative;
        overflow-y: hidden;
    }

    .contact-content .contact-title {
        font-size: 55px;
        line-height: 64px;
        padding: 0px;
        letter-spacing: 2px;
        z-index: 10;
    }

    .contact-content .contact-text {
        font-size: 16px;
        line-height: 24px;
        color: black;
        z-index: 10;

    }

    .contact-content .contact-btn-group {
        flex-direction: column;
    }

    .contact-btn {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        z-index: 10;
    }

    .contact-poope-logo {
        top: 20px;
        right: 34px;
        left: auto;
        z-index: 1;
    }

    .contact-poope-logo img {
        width: 95px;
        height: 95px;
    }

    .contact-star1 {
        top: 325px;
        left: 16px;
        z-index: 1;
    }

    .contact-star1 img {
        width: 17px;
        height: 17px;
    }

    .contact-star2 {
        top: 315px;
        left: 0px;
        z-index: 1;
    }

    .contact-star2 img {
        width: 9px;
        height: 9px;
    }

    .contact-cloud {
        position: absolute;
        top: 350px;
        left: 6.2px;
        z-index: 1;
    }

    .contact-cloud img {
        width: 69px;
        height: 48px;
    }

    .contact-elegant {
        position: absolute;
        top: 285px;
        right: 20px;
        z-index: 1;
    }

    .contact-elegant img {
        width: 82px;
        height: 100px;
    }

    .contact-man {
        bottom: -5px;
        top: auto;
        right: 0px;
        z-index: 1;
    }

    .contact-man img {
        width: 91.7px;
        height: 297px;
    }
}


@media (max-width: 375px) {
    .contact-inner {
        background-color: #F1CF58;
        border-radius: 24px;
        padding: 50px 20px 100px 20px;
        position: relative;
        overflow-y: hidden;
    }

    .contact-content .contact-title {
        font-size: 55px;
        line-height: 64px;
        padding: 0px;
        letter-spacing: 2px;
        z-index: 10;
    }

    .contact-content .contact-text {
        font-size: 16px;
        line-height: 24px;
        color: black;
        z-index: 10;

    }

    .contact-content .contact-btn-group {
        flex-direction: column;
    }

    .contact-btn {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        z-index: 10;
    }

    .contact-poope-logo {
        top: 20px;
        right: 34px;
        left: auto;
        z-index: 1;
    }

    .contact-poope-logo img {
        width: 95px;
        height: 95px;
    }

    .contact-star1 {
        top: 325px;
        left: 16px;
        z-index: 1;
    }

    .contact-star1 img {
        width: 17px;
        height: 17px;
    }

    .contact-star2 {
        top: 315px;
        left: 0px;
        z-index: 1;
    }

    .contact-star2 img {
        width: 9px;
        height: 9px;
    }

    .contact-cloud {
        position: absolute;
        top: 350px;
        left: 6.2px;
        z-index: 1;
    }

    .contact-cloud img {
        width: 69px;
        height: 48px;
    }

    .contact-elegant {
        position: absolute;
        top: 285px;
        right: 20px;
        z-index: 1;
    }

    .contact-elegant img {
        width: 82px;
        height: 100px;
    }

    .contact-man {
        bottom: -5px;
        top: auto;
        right: 0px;
        z-index: 1;
    }

    .contact-man img {
        width: 91.7px;
        height: 297px;
    }
}
