#hero {
    z-index: 5;
    background-image: url("../../../assets/images/bg-pattern.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    overflow: hidden;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-poope {
    font-family: "Mountains of Christmas";
    font-size: 200px;
    font-weight: 400;
    font-style: regular;
    line-height: 139%;
    letter-spacing: 2%;
    vertical-align: middle;
    margin-top: 20px;
    text-transform: uppercase;
}

.text-solana {
    font-family: "Mountains of Christmas";
    font-size: 300px;
    font-weight: 400;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 6%;
    vertical-align: middle;
    margin-top: -60px;
    text-transform: uppercase;
}

.text-content {
    font-weight: 400;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.mouse-icon {
    width: 40px;
    height: 40px;
    margin-top: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mouse-icon img {
    filter: invert(100%)
}

.star-dark { display: block; }
.star-light { display: none; }

body.light-mode .star-dark { display: none; }
body.light-mode .star-light { display: block; }


.star1 {
    position: absolute;
    top: 158px;
    right: 233px;
}

.star2 {
    position: absolute;
    top: 331.56px;
    left: 61.06px;
}

.star3 {
    position: absolute;
    top: 380.88px;
    left: 27.61px;
}

.star4 {
    position: absolute;
    top: 599.52px;
    right: 60.66px;
}

.cloud1 {
    position: absolute;
    top: 146.37px;
    right: 22.75px;
}

.cloud2 {
    position: absolute;
    top: 396.68px;
    left: -104.61px;
}

.cloud3 {
    position: absolute;
    top: 748.6px;
    left: 187.25px;
}

.cloud3 img {
    transform: scaleX(-1);
}

.arrow-down-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.logo-poope {
    position: absolute;
    top: 210.27px;
}

.logo-poope img {
    width: 312.54px;
    height: 353.49px;
}


.logo-poope img {
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 1.0));
}

.star1 img {
    width: 34.68px;
    height: 35.18px;
}

.star2 img {
    width: 41.32px;
    height: 41.92px;
}

.star3 img {
    width: 20.66px;
    height: 20.96px;
}

.star4 img {
    width: 27.32px;
    height: 27.72px;
}

.cloud1 img {
    width: 84.96px;
    height: 50.88px;
}

.cloud2 img {
    width: 128.94px;
    height: 77.16px;
}

.cloud3 img {
    width: 172.92px;
    height: 103.56px;
}

@media (max-width: 950px) {
    .header-inner {
        padding: 16px 20px;
    }
    .text-poope {
            font-size: 90px;
            font-weight: 700;
            font-style: bold;
            margin-top: 110.97px;
        }

    .text-solana {
        font-family: "Mountains of Christmas";
        font-size: 100px;
        font-weight: 700;
        font-style: bold;
        margin-top: 0px;
    }

    .text-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 22px;
        margin-right: 22px;
    }

    .logo-poope {
        top: 250px;
    }

    .logo-poope img {
        width: 145.88px;
        height: 165px;
    }

    .star1 {
        top: 212.17px;
        right: 57.5px;
    }

    .star1 img {
        width: 17.31px;
        height: 17.55px;
    }

    .star2 {
        top: 115px;
        left: 59.77px;
    }

    .star2 img {
        width: 21.05px;
        height: 21.35px;
    }

    .star3 {
        top: 140.12px;
        left: 42.74px;
    }

    .star3 img {
        width: 10.52px;
        height: 10.67px;
    }

    .star4 {
        top: 610.39px;
        right: 60.55px;
    }

    .star4 img {
        width: 16.42px;
        height: 16.66px;
    }

    .cloud1 {
        top: 226.37px;
        right: -20px;
    }

    .cloud1 img {
        width: 86.17px;
        height: 45.47px;
    }

    .cloud2 {
        top: 148.17px;
        left: -24.61px;
    }

    .cloud2 img {
        width: 80.95px;
        height: 58.41px;
    }

    .cloud3 {
        top: 313.33px;
        left: 82.48px;
    }

    .cloud3 img {
        width: 50.03px;
        height: 26.39px;
    }

    .arrow-down-icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 98.75px;
    } 
}

@media (max-width: 375px) {
    .text-poope {
        font-size: 90px;
        font-weight: 700;
        font-style: bold;
        margin-top: 110.97px;
    }

    .text-solana {
        font-family: "Mountains of Christmas";
        font-size: 100px;
        font-weight: 700;
        font-style: bold;
        margin-top: 0px;
    }

    .text-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 22px;
        margin-right: 22px;
    }

    .logo-poope {
        top: 250px;
    }

    .logo-poope img {
        width: 145.88px;
        height: 165px;
    }

    .star1 {
        top: 212.17px;
        right: 57.5px;
    }

    .star1 img {
        width: 17.31px;
        height: 17.55px;
    }

    .star2 {
        top: 115px;
        left: 59.77px;
    }

    .star2 img {
        width: 21.05px;
        height: 21.35px;
    }

    .star3 {
        top: 140.12px;
        left: 42.74px;
    }

    .star3 img {
        width: 10.52px;
        height: 10.67px;
    }

    .star4 {
        top: 610.39px;
        right: 60.55px;
    }

    .star4 img {
        width: 16.42px;
        height: 16.66px;
    }

    .cloud1 {
        top: 226.37px;
        right: -20px;
    }

    .cloud1 img {
        width: 86.17px;
        height: 45.47px;
    }

    .cloud2 {
        top: 148.17px;
        left: -24.61px;
    }

    .cloud2 img {
        width: 80.95px;
        height: 58.41px;
    }

    .cloud3 {
        top: 313.33px;
        left: 82.48px;
    }

    .cloud3 img {
        width: 50.03px;
        height: 26.39px;
    }

    .arrow-down-icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 98.75px;
    }
}