body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #141414;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 28px 100px;
    z-index: 10;
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Mountains of Christmas";
    width: 202px;
    height: 40px;
}

.logo-icon {
    margin: 2px 0px;
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 34px;
    font-weight: 700;
    font-style: bold;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}

.nav-menu {
    display: flex;
    padding-left: 117px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
}

ul li a:hover {
    color: rgba(253, 240, 240, 0.856);
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 4px;
}

.flag-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

.header-buttons {
    display: flex;
    gap: 16px;
    margin-left: 117px;
}

.btn {
    align-items: center;
    border: 1px solid white;
}

.btn-theme {
    background-color: #555555;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    cursor: pointer; 
}

.theme-icon {
    width: 18.33px;
    height: 18.33px;
}

.connect-icon {
    width: 20px;
    height: 20px;
}

.btn-connect {
    display: inline-flex;
    align-items: center;
    background-color: #FFD258;
    gap: 8px;
    color: black;
    font-size: 14px;
    line-height: 24px;
    height: 40px;
    border-radius: 20px 20px;
    padding: 0px 20px;
    white-space: nowrap;

    cursor: pointer; 
}


/* Hero Section */

#hero {
    background-image: url("../../assets/images/bg-pattern.png");
    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;

    border-bottom: 1px solid rgba(0, 0, 0, 1);

}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-poope {
    font-family: "Mountains of Christmas";
    font-size: 200px;
    font-weight: 400;
    font-style: regular;
    line-height: 139%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 20px;
}

.text-solana {
    font-family: "Mountains of Christmas";
    font-size: 300px;
    font-weight: 400;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: -60px;
}

.text-content {
    font-weight: 400;
    letter-spacing: 0%;
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.mouse-icon {
    width: 40px;
    height: 40px;
    margin-top: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.mouse-icon img {
    filter: invert(100%)
}

.star1 {
    position: absolute;
    top: 158px;
    left: 1207px;
}

.star2 {
    position: absolute;
    top: 331.56px;
    left: 61.06px;
}

.star3 {
    position: absolute;
    top: 380.88px;
    left: 27.61px;
}

.star4 {
    position: absolute;
    top: 599.52px;
    left: 1379.34px;
}

.cloud1 {
    position: absolute;
    top: 146.37px;
    left: 1244.54px;
}

.cloud2 {
    position: absolute;
    top: 396.68px;
    left: -104.61px;
}

.cloud3 {
    position: absolute;
    top: 748.6px;
    left: 187.25px;
}

.cloud3 img {
    transform: scaleX(-1);
}

.arrow-down-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.logo-poope {
    position: absolute;
    top: 210.27px;
}

.logo-poope img {
  filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.75));
}



.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px 32px 150px;
}

.footer-summary {
    width: 572px;
    padding-right: 140px;
    box-sizing: border-box;
}

.footer-summary p {
    margin-top: 16px;
    line-height: 24px;
    vertical-align: middle;
    font-style: medium;
}

.footer-logo {
    display: flex;
    align-items: start;
    gap: 8px;
}

.footer-logo .logo-icon {
    display: flex;
    height: 48px;
    width: 48px;
}

.footer-logo .logo-text {
    display: flex;
    font-family: "Mountains of Christmas";
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 7%;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
}

.footer-content h3 {
    font-family: "Mountains of Christmas";
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 7%;
    vertical-align: top;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
}

.footer-content p {
    color: white;
}

footer hr {
    margin: 0px 0px;
    border-color: rgba(255, 255, 255, 0.16);;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 32px 0px 32px 150px;
    color: white;
}

.footer-bottom nav {
    margin-right: 0px;
}