body {
    background-color: #141414;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0px;
}

.light-mode {
    background-color: #F2DDC3;
    color: #141414;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    z-index: 200;
}

.header-inner {
    z-index: 10;
    padding: 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Mountains of Christmas";
    width: 202px;
    height: 40px;
    flex-shrink: 0;
}

.logo-icon {
    margin: 2px 0px;
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 34px;
    font-weight: 700;
    font-style: bold;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    min-width: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

ul li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;

    white-space: nowrap;
}

ul li a:hover {
    color: rgba(253, 240, 240, 0.856);
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 4px;
}

.flag-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

.header-buttons {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}

.btn {
    align-items: center;
    border: 1px solid white;
}

body.light-mode .btn {
    border: 1px solid #141414;
}

.btn-theme {
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer; 
}

.theme-icon {
    width: 18.33px;
    height: 18.33px;
    filter: invert(0);
}

body.light-mode .theme-icon {
    filter: invert(1);
}

.connect-icon {
    width: 20px;
    height: 20px;
}

.btn-connect {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD258;
    gap: 8px;
    color: black;
    font-size: 14px;
    line-height: 24px;
    height: 40px;
    border-radius: 20px 20px;
    padding: 0px 20px;
    white-space: nowrap;

    cursor: pointer; 
}

.menu-toggle {
    background-color: #FFD258;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: none;
    align-items: center;
    justify-content: center;

    padding: 0;

    cursor: pointer; 

}

.burger-icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 375px) {
    body {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0%;
    }

    header {
        padding: 0px 0px
    }

    .header-inner {
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .logo {
        width: auto;
        flex-shrink: 0;
    }

    .logo-text {
        font-size: 28px;
    }

    .logo-icon {
        margin: 4px 0px;
        width: 32px;
        height: 32px;
    }

    .header-buttons {
        gap: 8px;
    }


    .flag-icon {
        width: 16px;
        height: 16px;
        margin-right: 0px;
    }

    .btn-theme {
        width: 40px;
        height: 40px;
    }

    .theme-icon {
        width: 20px;
        height: 20px;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 1360px) {

    .nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .btn-connect {
        display: none;
    }

    .logo {
        width: auto;
    }
}



.sidebar-menu {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 16px 20px;
    box-sizing: border-box;
    display: none;
    gap: 24px;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-shrink: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.sidebar-menu ul {
    flex-direction: column;
    gap: 24px;
}

.sidebar-menu ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

main {
    z-index: 5;
    background-image: url("../../assets/images/bg-pattern.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* Hero Section */

#hero {
    background-image: url("../../assets/images/bg-pattern.png");
    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-poope {
    font-family: "Mountains of Christmas";
    font-size: 200px;
    font-weight: 400;
    font-style: regular;
    line-height: 139%;
    letter-spacing: 2%;
    vertical-align: middle;
    margin-top: 20px;
}

.text-solana {
    font-family: "Mountains of Christmas";
    font-size: 300px;
    font-weight: 400;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 6%;
    vertical-align: middle;
    margin-top: -60px;
}

.text-content {
    font-weight: 400;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.mouse-icon {
    width: 40px;
    height: 40px;
    margin-top: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mouse-icon img {
    filter: invert(100%)
}

.star-dark { display: block; }
.star-light { display: none; }

body.light-mode .star-dark { display: none; }
body.light-mode .star-light { display: block; }


.star1 {
    position: absolute;
    top: 158px;
    right: 233px;
}

.star2 {
    position: absolute;
    top: 331.56px;
    left: 61.06px;
}

.star3 {
    position: absolute;
    top: 380.88px;
    left: 27.61px;
}

.star4 {
    position: absolute;
    top: 599.52px;
    right: 60.66px;
}

.cloud1 {
    position: absolute;
    top: 146.37px;
    right: 22.75px;
}

.cloud2 {
    position: absolute;
    top: 396.68px;
    left: -104.61px;
}

.cloud3 {
    position: absolute;
    top: 748.6px;
    left: 187.25px;
}

.cloud3 img {
    transform: scaleX(-1);
}

.arrow-down-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.logo-poope {
    position: absolute;
    top: 210.27px;
}

.logo-poope img {
    width: 312.54px;
    height: 353.49px;
}


.logo-poope img {
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 1.0));
}

.star1 img {
    width: 34.68px;
    height: 35.18px;
}

.star2 img {
    width: 41.32px;
    height: 41.92px;
}

.star3 img {
    width: 20.66px;
    height: 20.96px;
}

.star4 img {
    width: 27.32px;
    height: 27.72px;
}

.cloud1 img {
    width: 84.96px;
    height: 50.88px;
}

.cloud2 img {
    width: 128.94px;
    height: 77.16px;
}

.cloud3 img {
    width: 172.92px;
    height: 103.56px;
}

@media (max-width: 950px) {
    .header-inner {
        padding: 16px 20px;
    }
    .text-poope {
            font-size: 90px;
            font-weight: 700;
            font-style: bold;
            margin-top: 110.97px;
        }

    .text-solana {
        font-family: "Mountains of Christmas";
        font-size: 100px;
        font-weight: 700;
        font-style: bold;
        margin-top: 0px;
    }

    .text-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 22px;
        margin-right: 22px;
    }

    .logo-poope {
        top: 250px;
    }

    .logo-poope img {
        width: 145.88px;
        height: 165px;
    }

    .star1 {
        top: 212.17px;
        right: 57.5px;
    }

    .star1 img {
        width: 17.31px;
        height: 17.55px;
    }

    .star2 {
        top: 115px;
        left: 59.77px;
    }

    .star2 img {
        width: 21.05px;
        height: 21.35px;
    }

    .star3 {
        top: 140.12px;
        left: 42.74px;
    }

    .star3 img {
        width: 10.52px;
        height: 10.67px;
    }

    .star4 {
        top: 610.39px;
        right: 60.55px;
    }

    .star4 img {
        width: 16.42px;
        height: 16.66px;
    }

    .cloud1 {
        top: 226.37px;
        right: -20px;
    }

    .cloud1 img {
        width: 86.17px;
        height: 45.47px;
    }

    .cloud2 {
        top: 148.17px;
        left: -24.61px;
    }

    .cloud2 img {
        width: 80.95px;
        height: 58.41px;
    }

    .cloud3 {
        top: 313.33px;
        left: 82.48px;
    }

    .cloud3 img {
        width: 50.03px;
        height: 26.39px;
    }

    .arrow-down-icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 98.75px;
    } 
}

@media (max-width: 375px) {
    .text-poope {
        font-size: 90px;
        font-weight: 700;
        font-style: bold;
        margin-top: 110.97px;
    }

    .text-solana {
        font-family: "Mountains of Christmas";
        font-size: 100px;
        font-weight: 700;
        font-style: bold;
        margin-top: 0px;
    }

    .text-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 22px;
        margin-right: 22px;
    }

    .logo-poope {
        top: 250px;
    }

    .logo-poope img {
        width: 145.88px;
        height: 165px;
    }

    .star1 {
        top: 212.17px;
        right: 57.5px;
    }

    .star1 img {
        width: 17.31px;
        height: 17.55px;
    }

    .star2 {
        top: 115px;
        left: 59.77px;
    }

    .star2 img {
        width: 21.05px;
        height: 21.35px;
    }

    .star3 {
        top: 140.12px;
        left: 42.74px;
    }

    .star3 img {
        width: 10.52px;
        height: 10.67px;
    }

    .star4 {
        top: 610.39px;
        right: 60.55px;
    }

    .star4 img {
        width: 16.42px;
        height: 16.66px;
    }

    .cloud1 {
        top: 226.37px;
        right: -20px;
    }

    .cloud1 img {
        width: 86.17px;
        height: 45.47px;
    }

    .cloud2 {
        top: 148.17px;
        left: -24.61px;
    }

    .cloud2 img {
        width: 80.95px;
        height: 58.41px;
    }

    .cloud3 {
        top: 313.33px;
        left: 82.48px;
    }

    .cloud3 img {
        width: 50.03px;
        height: 26.39px;
    }

    .arrow-down-icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 98.75px;
    }
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    padding: 100px 150px 32px 150px;
    /* margin: 100px 150px 32px 150px; */
}

.footer-summary {
    max-width: 572px;
    padding-right: 140px;
    box-sizing: border-box;
}

.footer-summary p {
    margin-top: 16px;
    line-height: 24px;
    vertical-align: middle;
    font-style: medium;
}

.footer-logo {
    display: flex;
    align-items: start;
    gap: 8px;
}

.footer-logo .logo-icon {
    height: 48px;
    width: 48px;
}

.footer-logo .logo-text {
    font-family: "Mountains of Christmas";
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 7%;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
}

.footer-content h3 {
    font-family: "Mountains of Christmas";
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 7%;
    vertical-align: top;
    text-transform: uppercase;
    margin-top: 0px;
}

footer hr {
    margin: 0px 150px;
    border-color: rgba(255, 255, 255, 0.16);;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 32px 150px 32px 150px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding-left: 117px;
    min-width: 0;
    gap: 16px;
}

.footer-bottom nav {
    margin-right: 0px;
}

@media (max-width: 1100px) {
    .footer-content {
        flex-direction: column;
        gap: 50px;
        padding: 66px 40px 48px 40px;
        text-align: center;
    }

    .footer-summary {
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-logo .logo-icon {
        height: 40px;
        width: 40px;
    }

    .footer-logo .logo-text {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 7%;
        text-align: center;
    }

    footer hr {
        margin: 0px 60px;
        border-color: rgba(255, 255, 255, 0.16);
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        margin: 16px 20px 32px 20px;
        align-items: center;
    }

    .footer-nav {
        padding-left: 0px;
        text-align: center;
        order: 1;
    }
    .footer-bottom-sign {
        order: 2;
    }
}

@media (max-width: 375px) {
    .footer-content {
        flex-direction: column;
        gap: 50px;
        padding: 66px 40px 48px 40px;
        text-align: center;
    }

    .footer-summary {
        padding-right: 0px;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-logo .logo-icon {
        height: 40px;
        width: 40px;
    }

    .footer-logo .logo-text {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 7%;
        text-align: center;
    }

    footer hr {
        margin: 0px 60px;
        border-color: rgba(255, 255, 255, 0.16);
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        margin: 16px 20px 32px 20px;
        align-items: center;
    }

    .footer-nav {
        flex-wrap: wrap;
        padding-left: 0px;
        justify-content: center;
        order: 1;
    }
    .footer-bottom-sign {
        order: 2;
    }
}